.footer-wrapper {
    border-top: 2px black solid;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}
.footer-wrapper__copyright {
    padding: 10px;
}
.footer-wrapper__links {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.footer-wrapper__item {
    padding: 0 2px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.footer-wrapper__item:hover {
    background-size: 100% 2px;
}
.footer-wrapper__item:active {
    background-size: 0% 2px;
}
.footer-wrapper__slash {
    margin: 0 10px;
}