header {
  border-top: 1px black solid;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .headerWrapper {
    display: flex;
    height: 2rem;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    margin: 1rem auto;
  }

  .icon {
    display: block;
  }
  .themeButton {
    display: block;
  }
}
